# Temporary
.netrwhist
*~

# Vim specific ---
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
._*
*.swp
*.swo

# Idea
.idea

# System Files
.DS_Store
Thumbs.db

# mkdocs specific
site/*